 <!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>biligunb is an experienced developer and researcher. Currently working as an senior developer at Japanese rooted software development company, Unimedia Solutions, LLC in Mongolia.</p>
                <p>On-hand experience of mobile apps & web development.</p>
            </div>
            <div class="col-lg-4">
                <p>Worked on projects related to Japanese mobile operators, blockchain (Etherium & Hyperledger)</p>
                <p>Also have a rich experience on AWS</p>
                <p>Spend free time writing blogs about what I learned on Medium.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://medium.com/@biligunb" class="btn btn-lg btn-outline">
                    <i class="fa fa-medium"></i> Read Medium posts
                </a>
            </div>
        </div>
    </div>
</section>
